<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="immovables"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link   rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 md-5" >
    <h1>Добавление</h1>
    <form th:action="@{/immovables/add}" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Введите название" class="form-control"><br>
        <input type="text" name="city" placeholder="Введите название города" class="form-control"><br>
        <input type="text" name="street" placeholder="Введите название улицы" class="form-control"><br>
        <input type="text" name="address" placeholder="Введите адрес" class="form-control"><br>


        <input type="number" name="price" placeholder="Введите Цену" class="form-control"><br>
        <textarea name="description" placeholder="Описание" class="form-control"></textarea><br>
        <input type="file" name="file1" placeholder="1картинка" class="form-control"><br>
        <input type="file" name="file2" placeholder="2картинка" class="form-control"><br>
        <input type="file" name="file3" placeholder="3картинка" class="form-control"><br>

        <input type="text" name="realtySupType" placeholder="Введите realtySupType" class="form-control"><br>
        <input type="number" name="rooms" placeholder="Введите rooms" class="form-control"><br>
        <input type="number" name="floor" placeholder="Введите floor" class="form-control"><br>
        <input type="number" name="square" placeholder="Введите square" class="form-control"><br>
        <input type="number" name="livingSpace" placeholder="Введите livingSpace" class="form-control"><br>
        <input type="number" name="kitchenSpace" placeholder="Введите kitchenSpace" class="form-control"><br>

        <div class="form-check">
            <h4 class="mb-3">Балкон</h4>
            <input class="btn-check" type="radio" id="balcony-0" name="balcony"  value="Балкон">
            <label  class="btn btn-primary" for="balcony-0"><span>Балкон</span></label>

            <input class="btn-check" type="radio" id="balcony-1" name="balcony"  value="Лоджия">
            <label class="btn btn-primary" for="balcony-1"><span>Лоджия</span></label>

            <input class="btn-check" type="radio" id="balcony-2" name="balcony"  value="Нет">
            <label class="btn btn-primary" for="balcony-2"><span>Нет</span></label>
        </div>
        <div class="form-check">
            <h4 class="mb-3">Сан. узел</h4>
            <input class="btn-check" type="radio" id="bathroom-0" name="bathroom"  value="Раздельный">
            <label  class="btn btn-primary" for="bathroom-0"><span>Раздельный</span></label>

            <input class="btn-check" type="radio" id="bathroom-1" name="bathroom"  value="Совмещенный">
            <label class="btn btn-primary" for="bathroom-1"><span>Совмещенный</span></label>

            <input class="btn-check" type="radio" id="bathroom-2" name="bathroom"  value="2 сан.узла">
            <label class="btn btn-primary" for="bathroom-2"><span>2 сан.узла</span></label>
        </div>




        <button type="submit" class="btn btn-success">Добавить статью</button>
    </form>

</div>



<div th:insert="blocks/footer :: footer"></div>
</body>
</html>